* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
.header {
  background: #fff8f3;
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: 100% 100%, left;
}
/* Header and navigation styles */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 50px 200px;
}
h2 {
  font-weight: 800;
  font-size: 45px;
}
.mary-color {
  color: #fd6e0a;
}
ul {
  display: flex;
  align-items: center;
}
ul li {
  list-style: none;
  margin-left: 50px;
  padding: 5px 8px;
  border: 0;
  border-radius: 5px;
  transition: all 0.5s ease;
}
ul li:hover {
  background: rgb(174, 107, 107);
  color: #fff;
}
.nav-btn {
  height: 64px;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  padding: 18px 35px;
  background: #fd6e0a;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s all ease;
}
.nav-btn:hover {
  background: rgb(174, 107, 107);
  color: #fff;
}
/* banner styles */
.banner {
  display: flex;
  margin: 0 0 0 200px;
  align-items: center;
}
.sub-tittle {
  font-weight: 600;
  font-size: 45px;
}
.main-tittle {
  font-weight: 700;
  font-size: 85px;
  margin-bottom: 20px;
}
.description {
  font-size: 18px;
  color: #757575;
  margin-bottom: 30px;
}
/* main */
main {
  max-width: 1140px;
  margin: 0 auto;
}

/* about section styles */
.about {
  background: #fff8f3;
  border-radius: 10px;
  margin-top: 130px;
  padding: 130px 150px;
  text-align: center;
}
.about-tittle {
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 30px;
}
.about-description {
  color: #757575;
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px;
}
.about-info-container {
  display: flex;
  justify-content: center;
}
.about-info {
  padding: 15px;
}
.info-tittle {
  font-size: 20px;
  color: #757575;
}
.info-description {
  font-size: 20px;
  font-weight: 700;
  color: #474747;
}

/* what i do styles */
.what-section {
  margin-top: 130px;
}
.section-tittle {
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 30px;
  text-align: center;
}
.section-description {
  font-size: 18px;
  text-align: center;
  color: #757575;
  margin-bottom: 50px;
}
.skills-container {
  display: flex;
  gap: 24px;
}
.skill {
  background: #ffffff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 32px;
}
.skill-tittle {
  font-size: 20px;
  font-weight: 700;
  color: #181818;
  margin-top: 30px;
  margin-bottom: 20px;
}
.skill-description {
  color: #757575;
}

/* Resume section */
.section-tittle {
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  color: #181818;
  margin-top: 130px;
  margin-bottom: 114px;
}
.resume-content {
  display: flex;
  gap: 24px;
}
.resume-tittle {
  font-weight: 700;
  font-size: 30px;
  color: #474747;
  margin-bottom: 30px;
}
.resume-main-tittle {
  font-weight: 700;
  font-size: 25px;
  color: #474747;
  margin-bottom: 10px;
}
.resume-sub-tittle {
  font-weight: 600;
  font-size: 20px;
}
.resume-description {
  color: #757575;
  margin-bottom: 30px;
}
hr {
  margin-bottom: 30px;
}
.resume-btn {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 113px;
}

/* contact section styles */
.contact {
  background: #fff8f3;
  display: flex;
  gap: 117px;
  padding: 130px 200px;
}
.contact-tittle {
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 20px;
}
.contact-description {
  color: #474747;
  margin-bottom: 30px;
}
a {
  text-decoration: none;
}
.contact input,
textarea {
  width: 100%;
  height: 64px;
  border: 0;
  padding: 5px 15px;
  margin-bottom: 24px;
}
#nav-btn {
  width: 150px;
  height: 64px;
}

@media screen and (max-width: 576px) {
  .header {
    background-image: none;
  }
  .navbar,
  .skills-container,
  .resume-content,
  .about-info-container,
  .contact,
  .banner {
    flex-direction: column;
    padding: 0 15px;
  }
  .banner {
    margin: 0 20px;
  }
  .banner img {
    width: 100%;
  }
  ul {
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
  }
  .about,
  .contact {
    padding: 20px;
  }
  .contact input[type="text"],
  input[type="email"],
  textarea {
    padding: 0 0 0 15px;
    width: 100%;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .about,
  .contact,
  .resume-section {
    padding: 20px;
  }
  .banner img {
    width: 100%;
  }
  .contact {
    gap: 50px;
  }
  .contact input,
  textarea {
    padding: 0 0 0 10px;
  }
}
